*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #CAD593;
    display: flex;
    height: 614px;
    width: 100%;
}
header>div>img{
    margin: 97px 0 0 200px;
}
header>div>ul{
    list-style: none;
    display: flex;
    margin: 30px 0 0 850px;
}
header>div>ul>li>a{
    margin: 0 30px 0 0;
    font-weight: 800;
    white-space : nowrap;
    color: #515151;
}