* {
    margin: 0;
    padding: 0;
}

/* 헤더 영역 시작 */
header {
    position: absolute;
}

.header_container {
    position: absolute;
    top: 0;
}

.header_container>ul {
    display: flex;
    list-style: none;
}

.header_img {
    width: 100%;
}

.header_logo_img {
    width: 100px;
    margin: 0 0 0 8vw;
}

.main_title_img {
    margin: 0 50vw 0 0;
}

.header_menu {
    margin: 20px;
}

.header_menu_a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

/* 헤더 영역 끝 */

/* 메인 영역 시작 */
.main_back_img {
    position: absolute;
    z-index: -1;
}

main {
    width: 100%;
}

.go_btn {
    position: absolute;
    border: none;
    background-color: #CAD593;
    color: black;
    font-size: 50px;
    margin: 500px 0 0 80vw;
    padding: 10px;
    border-radius: 30px;
}

.go_btn-a {
    color: black;
    text-decoration: none;
}

.main_text {
    margin: 30px 0 10px 0;
    font-size: 20px;
}

.see_btn {
    width: 50px;
    height: 40px;
    margin: 0 0 0 -6px;
    border: none;
    border-radius: 0 30px 30px 0;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs {
    padding: 12px;
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 30px 0 0 30px;
}

.main_login_title {
    font-size: 150px;
    font-weight: 700;
    margin: 70px 0;
}


.email_input {
    width: 230px;
    border-radius: 30px;
}
.forgot_password_a{
    color: black;
    text-decoration: none;
    /* margin-bottom: 300px; */
}

.forgot_password{
    margin: 30px 0 300px 0;
}

/* 메인 영역 끝 */
/* 푸터 영역 시작 */
footer {
    display: flex;
    background-color: #CAD593;
}

.footer-information-ul-1>li {
    list-style: none;
    margin: 10px 10px 0 100px;
}

.footer-information-ul-2>li {
    list-style: none;
    margin: 10px 10px 0 100px;
}

.footer-title-1 {
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    margin: 0 0 0 30px;
}

.footer-title-2 {
    font-size: 50px;
    font-weight: 700;
    margin: -30px 0 0 30px;
}

.footer-title-1>a {
    color: #A1C349;
    text-decoration: none;
}

.footer-title-2>a {
    color: #87A330;
    text-decoration: none;
}

/* 푸터 영역 끝 */